%p#notice= notice

%p
  %b Name:
  = @account.name
%p
  %b Date from:
  = @account.date_from
%p
  %b Date to:
  = @account.date_to
%p
  %b User:
  = @account.user

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
